@font-face {
    font-family: Kalam-regular;
    src: url(assets/fonts/Kalam-Regular.ttf);
}

@font-face {
    font-family: Kalam-bold;
    src: url(assets/fonts/Kalam-Bold.ttf);
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    max-width: 100vw;
}

body {    
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100dvh;
    margin: 0 auto;
    background-color: #45524e;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding: 15px;
}

.title {
    font-family: Kalam-bold;
    font-size: 90px;
    color: white;
    margin: 0;
    letter-spacing: 10px;
}

.btn-new-game {
    display: none;
    width: 150px;
    height: 60px;
    font-family: Kalam-regular;
    font-size: 26px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    background-color: orange;
    user-select: none;
}

.btn-save-game {
    display: none;
    width: 150px;
    height: 60px;
    font-family: Kalam-regular;
    font-size: 26px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    background-color: orange;
    user-select: none;
}

.btn-on {
    display: block;
}

.score-text {
    font-family: Kalam-regular;
    font-size: 40px;
    color: white;
    margin: 0;
}

.game-info {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.score-count, .best-count {
    margin-left: 10px;
    color: orange;
}

.play-board {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 700px;
    height: 700px;
    outline: 2px solid orange;
    box-shadow: 0 0 20px 5px black;
    background-color: #36423d;
}

.defeat-window {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    backdrop-filter: blur(16px);
    background-color: rgba(0, 0, 0, 0.75);
}

.defeat-window-on {
    display: flex;
    opacity: 0;
    transition: 1s;
}

.defeat-window-appear {
    opacity: 1;
}

.defeat-window :nth-child(1) {
    color: orange;
    filter: drop-shadow(0 0 13px orange);
}

.defeat-text {
    color: orange;
    font-family: Kalam-regular;
    font-size: 3vw;
    text-align: center;
}

.defeat-window :nth-child(2) {
    border-top: 1px solid orange;
    padding-top: 5px;
    border-radius: 20px;
}

.cell {
    width: 25%;
    height: 25%;
    padding: 8px;
    background-color: rgb(97, 97, 97);
    background-clip: content-box;
    filter: drop-shadow(0 0 8px rgb(32, 32, 32));
}

.grid {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.plate {
    width: 25%;
    height: 25%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-clip: content-box;
    font-family: Kalam-regular;
    font-size: 300%;
    color: white;
    user-select: none;
    transition: 0.2s;
}

.about-block {
    width: 700px;
    display: flex;
    justify-content: space-between;
}

.description {
    max-width: 260px;
    height: max-content;
    border-radius: 15px;
    border-top: 2px solid orange;
    border-bottom: 2px solid orange;
    padding-right: 10px;
}

.desc-title {
    font-size: 200%;
    color: orange;
    letter-spacing: 1.5px;
    text-align: center;
    font-family: Kalam-regular;
    font-weight: bold;
    margin: 0;
}

.desc-text {
    font-family: Kalam-regular;
    font-size: 20px;
    text-align: center;
    color: white;
    font-style: italic;
    margin: 0;
    letter-spacing: 1.5px;
}

.desc-target {
    color: orange;
}

.past-games-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: flex-start;
    gap: 20px;
}

.past-game, .past-game-title {
    font-family: Kalam-regular;
    font-size: 20px;
    color: orange;
    margin: 0;
}

.past-game-title {
    font-size: 30px;
}

.past-game-stats {
    color: white;
}

.footer {
    display: flex;
    width: 100%;
    height: 60px;
}
