@font-face {
    font-family: Forum;
    src: url(assets/fonts/Forum-Regular.ttf)
}

@font-face {
    font-family: Inter;
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {    
    margin: 0;
    padding: 0;
    background: #0C0C0E;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    background: #fff;
}

.main-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    background-color: #0C0C0E;
}

h1 {
    Color: #fff;
    margin: 20px;
    font-family: Forum;
    Font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
}

.profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav {
    margin-right: 26px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-item a {
    text-decoration: none;
    font-family: Inter;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;    
    margin: 0 15px;
}

.icon-profile {
    flex-shrink: 0;
    width: 28px;
    height: 28px;
    margin-right: 20px;
    cursor: pointer;
}

.main-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.section-Welcome {
    height: 600px;    
    background: url(assets/img/Welcome.png), lightgray 50% / cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: auto;
    flex-shrink: 0;
}

.overlay {
    width: 100%;
    height: 300px;
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
    margin-bottom: -80px;
    flex-shrink: 0;
}

.Welcome {
    width: 600px;
    height: 220px;
    padding: 35px 42px 35px 41.5px;
    background: #0C0C0E;
}

.WelcomeText {
    width: 520px;
    height: 150px;
    color: #fff;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
    flex-shrink: 0;
}

.section-About {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;
}

h2 {
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    align-self: center;
    margin-top: 20px;
    margin-left: 2px;
}

h2::after {
    width: 50px;
    height: 1px;
    display: block;
    position: relative;
    top: 20px;
    right: 1px;
    margin: 0 auto;
    flex-shrink: 0;
    content: '';
    background: #0C0C0E;
}

.main-text {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    margin-top: 27px;
    margin-left: 1px;
}

.AboutImage {
    display: flex;
    justify-content: space-evenly;
}

.Image1 {
    width: 450px;
    height: 560px;
    flex-shrink: 0;
    background: url(assets/img/image\ 1.png), lightgray 50% / cover no-repeat;
    margin: auto 5px;
}

.Image2 {
    width: 450px;
    height: 560px;
    flex-shrink: 0;
    background: url(assets/img/image\ 2.png), lightgray 50% / cover no-repeat;
    margin: auto 5px;
}

.Image3 {
    width: 450px;
    height: 560px;
    flex-shrink: 0;
    background: url(assets/img/image\ 3.png), lightgray 50% / cover no-repeat;
    margin: auto 5px;
}

.PaginationAbout {
    align-self: center;
    height: 16px;
    margin-top: 34px;
    flex-shrink: 0;
}

.pagination {
    width: 22px;
    height: 22px;
    cursor: pointer;
    margin-right: 0px;
    margin-left: 0px;
    appearance: none;
}

.pagination::after {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    top: 3px;
    left: 3.3px;
    position: relative;
    background-color: #0C0C0E;
    content: '';
    display: inline-block;
    visibility: visible;
}

.pagination:checked:after {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    top: 3px;
    left: 3.3px;
    position: relative;
    background-color: #BB945F;
    content: '';
    display: inline-block;
    visibility: visible;
}

.section-Favorites {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6px 20px 40px 20px;
}

.SpecificText {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: flex-start;
    margin-top: 27px;
}

/*SEASON_BUTTON \/'*/

.FavoritesSeasons {
    display: flex;
    justify-content: space-between;
    width: 700px;
    height: 24px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 19px;
}

.SeasonButton {
    display: flex;
    justify-content: space-between;
}

.Win {
    width: 104px;
}

.Spr {
    width: 99px;
}

.Sum {
    width: 116px;
}

.Aut {
    width: 111px;
}

.season {
    margin-left: -4px;
    margin-top: 2px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    appearance: none;
}

.season:checked + label {
    font-weight: 700;
    margin-left: -2.5px;
    margin-right: -2.5px;
    margin-right: 0.5px;
    margin-top: 1px;
}

.season + label {
    margin-right: 0.5px;
    margin-top: 1px;
}

.season::after {
    width: 17px;
    height: 17px;
    display: inline-block;
    position: relative;
    background: url(assets/img/NoChecked.svg) 0 0 no-repeat;
    border-radius: 17px;
    top: 4px;
    left: 4px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
}

.season:checked::after {
    width: 17px;
    height: 17px;
    display: inline-block;
    position: relative;
    background: url(assets/img/Checked.svg) 0 0 no-repeat;
    border-radius: 17px;
    top: 4px;
    left: 4px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
}

/*SEASON_BUTTON /\*/

/* BOOKS \/ */

.SeasonsBooks {
    height: 1150px;
    margin-top: 41px;
}

.BookGroup {
    position: relative;
    width: 590px;
    height: 555px;
}

.BookImage {
    position: absolute;
    right: 0;
    bottom: 0;
}

.BookDescription {
    width: 550px;
    height: 555px;
    border: 1px solid #000;
    padding: 13px 19px;
}

.note {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 1px;
}

.note::after {
    width: 60px;
    height: 1px;
    display: block;
    position: relative;
    bottom: 1px;
    flex-shrink: 0;
    content: '';
    background: #BB945F;
}

.BookName {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: -1px;
}

.BookAuthor {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    margin-top: -15px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.BookText {
    width: 356.5px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.H320 {
    height: 320px;
}

.H280 {
    height: 280px;
    margin-bottom: 55px;
}

.H240 {
    height: 240px;
    margin-bottom: 95px;
}

.BuyButton {
    width: 75px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    color: #0C0C0E;
    background-color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    cursor: pointer;
}

.OwnButton {
    width: 75px;
    height: 30px;
    flex-shrink: 0;
    color: #BB945F;
    border-radius: 2px;
    border: 1px solid #BB945F;
    background-color: #fff;
    color: #BB945F;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
}

.Books1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.Books2 {
    display: flex;
    justify-content: space-between;
}

/* BOOKS /\ */

.section-CoffeeShop {
    display: flex;
    padding: 0px 20px 40px 20px;
    flex-direction: column;
    align-items: center;
}

.main-text2 {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 26px;
    margin-left: 2px;
}

/* MENU \/ */

.menu {
    width: 1400px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.drinks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 40px;
}

.desserts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    row-gap: 40px;
    margin-right: -1px;
}

.MenuTitle {
    height: 40px;
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 0;
}

.MenuTitleRight {
    margin-right: 2px;
}

.MenuItem {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
}

.MenuText {
    width: 199px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.MenuTextRight {
    width: 214px;
    text-align: right;
}

.MenuLine {
    width: 100px;
    margin-left: -2px;
}

.MenuLine::after {
    width: 100px;
    height: 1px;
    display: block;
    content: '';
    background: #BB945F;
}

.MenuPrice {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

/* MENU /\ */

.main-footer {
    height: 250px;
    background-color: #0C0C0E;
}

